#reveal {
	height: 458px;
	margin-left: 26px;
}
#intTitle, #intInstructions {
	margin-left: 40px;
}
.scroll-pane, #Search_Input_Container {
	box-shadow: 3px 3px 7px #ccc;
}
#Search_Result_Header {
}
#Glossary_Context_Container {
	width: 190px;
	border: 0;
}
#content_bg {
	min-height: 250px;
}
#Search_Input_Container {
	width: 185px;
	background-color: rgb(0, 100, 131);
	padding: 5px 0 5px 5px;
	margin: 0;
}
#searchText {
	font-style: italic;
	font-weight: bold;
	font: Verdana;
	color: White;
	padding: 0px;
}
#searchInput {
	width: 100px;
	height: 10px;
	-moz-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
#Search_Container {
	width: 190px;
	float: left;
	margin-right: 20px;
}
#Search_Result_Header {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzU4ODJhMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(88,130,162,0) 60%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.4)), color-stop(60%, rgba(88,130,162,0)), color-stop(100%, rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(88,130,162,0) 60%, rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(88,130,162,0) 60%, rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(88,130,162,0) 60%, rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(88,130,162,0) 60%, rgba(0,0,0,0) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#42000000', GradientType=0 ); /* IE6-8 */
	background-color: rgb(0, 100, 131);
	padding: 5px 0 5px 15px;
	float: left;
	width: 395px;
	color: white;
}
#Search_Result_Header {
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
#Search_Input_Container {
}
#Search_Result_Container {
	padding: 30px 10px 0px 10px;
	width: 380px;
	border: 0;
	height: 230px;
}
#Navigation_Container {
	background-color: rgb(0, 84, 104);
	color: #FFF;
}
.NoValue {
	color: white;
}
#Body_Container {
}
.timelineNode {
	margin-top: 15px;
	border: 2px solid white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
}
.timelineNode:hover {
	background-color: #004a61;
}
.timelineNode:active {
	background-color: #40c3c3;
}
#tabs_content_container {
	padding: 20px 30px;
	background-color: #FFFFFF;
	min-height: 250px;
}
#tabs_container {
	height: 40px;
	display: block;
}
#canvas {
}
#canvas-wrap {
	position: relative;
	width: 600px;
	height: 70px;
}
#canvas-wrap canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0
}
.navNode .NoValue {
	font-weight: bold;
	color: grey;
	font-style: normal;
	text-decoration: none;
}
.navNode .HasValue {
	font-weight: bold;
	color: white;
	font-style: normal;
	text-decoration: none;
}
