<!doctype html>
<!-- 
  ******************************************************************************/
    1.0.10      30/07/2021          Ernesto         Agregar fecha de actualización de la información estadistica
    1.0.12      24/08/2021          Ernesto         Agregar Leyendas o pie de grafica en estadisticas graficas
  ******************************************************************************/

-->

<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SEP | SIGED</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!--link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico"-->
        <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="https://framework-gb.cdn.gob.mx/assets/styles/main.css">
        <link rel="stylesheet" type="text/css" href="../css/sige.css">
        <link rel="stylesheet" type="text/css" href="../css/banner.css">
        <link rel="stylesheet" type="text/css" href="../css/sidebar.css">
        
	<!-- 	ACCESIBILIDAD	-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300"  />
    <link href="https://framework-gb.cdn.gob.mx/applications/cms/favicon.png" rel="shortcut icon" />
	<link rel="stylesheet" data-turbolinks-track="true" href="https://www.gob.mx/cms/assets/barra-de-accesibilidad.css" media="all" />
	<!--	END ACCESIBILIDAD	-->
        
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
        <![endif]-->
    </head>
    <!--style type="text/css">
                .banner{
            height: 240px;
            background-image: url("../ima/general.png"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style-->
    <body ng-app="estadisticas" >
    <nav class="navbar navbar-inverse navbar-siged" style="background-color: rgb(12, 35, 30)" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                    <span class="sr-only">Interruptor de Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" style="margin-left: 90%">SIGED</a>
            </div>
            <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html"><i class="fa fa-home"></i></a></li>
                        <li><a href="../index.html#info"><i class="fa fa-search"></i> Consultas</a></li>
                        <li><a href="../estadisticas.html"><i class="fa fa-bar-chart"></i> Estadísticas</a></li>
                        <!--li><a href="datosAbiertos.html"><i class="fa fa-folder-open-o"></i> Datos abiertos</a></li-->  
                        <li><a href="../index.html#ref"><i class="fa fa-book"></i> Referencias</a></li>
                        <li><a href="https://www.planeacion.sep.gob.mx/principalescifras/"><i class="fa fa-line-chart"></i> Principales cifras</a></li>
                        <!--li><a href="../contacto.html"><i class="fa fa-comments-o"></i> Contáctanos</a></li-->
                    </ul>
                </div>
        </div>
    </nav>
    <!--div id="header"></div-->
	<div class="section" data-type="background" style=" background-size: cover; height: 240px; text-align: center;">
		  <img class="responsive" src="../ima/general.png" style=" background-size: cover; height: 100%; width: 100%; text-align: center;">
		  <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		  </div>
	</div> 
<!--	HEADER COVID	-->
  <!--header class=" navbar navbar-inverse"-->
  <header class="  navbar-inverse" >
    <nav class="navbar navbar-inverse  navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-target="#navbarMainCollapse" data-toggle="collapse">
            <span class="sr-only">Interruptor de Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a href="/" style="padding: 1px 3px 3px 3px;" class="navbar-brand " title="Ir a la página inicial">
			
            <div class="logo-main"></div>
          </a-->
        </div>
        <div id="navbarMainCollapse" class="collapse navbar-collapse">
         <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg"  href="/" alt="logo gobierno de méxico" class="logo_footer" style="max-width: 12%; margin-left: 55px;   margin-top: 10px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://mivacuna.salud.gob.mx" title="Registro">Registro para vacunación</a></li>
            <li><a href="https://coronavirus.gob.mx/" title="Coronavirus">Informacion sobre COVID-19</a></li>
            <li><a href="/tramites" title="Trámites">Trámites </a></li>
            <li><a href="/gobierno" title="Gobierno">Gobierno</a></li>
            <li><form accept-charset="UTF-8" action="/busqueda" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div><input type="hidden" name="site" value="sep">
                <button data-v-6394873e="" id="botonbuscar" type="button" class="btn btn-search" style="background-color: rgb(12, 35, 30)"><a data-v-6394873e="" href="https://www.gob.mx/busqueda?utf8=✓" target="_blank" id="botbusca" style="margin-top: 20px;" ><img data-v-6394873e="" alt="Buscar" src="https://framework-gb.cdn.gob.mx/landing/img/lupa.png"></a></button></form></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<!--	END HEADER COVID	--> 
    
    <br>
            <div class="container-fluid banner row">
        <div class="row col-md-12">
            <div class="col-md-12" id="textos">
                <section id="textoSigedCol"><h5 class="header-main" id="textoSiged" style="margin-left:130px; margin-top:-150px;color: white" >Sistema de Información y Gestión Educativa</h5></section>
                <section><h3 class=" header-main" id="textoSub" style="margin-left:130px;margin-top:-5px;color:white;text-transform:none" >Estadísticas de escuelas registradas en el catálogo nacional de centros de trabajo</h3></section>
            </div>
        </div>
    </div><br>
       <main>
        <div ng-controller="buscarEstadisticas" data-role="page" class="container-fluid" >
            <div class="row">
                <div class="col-md-3">
                    <div   class="panel panel-default panel-sidebar-1">
                        <div style="display: none" class=" header-stats">Por alumno</div>
                        <div style="display: none" class=" header-stats">Por docente</div>
                        <div class="panel-body">
                            <form class="form-light" role="form" ng-submit="search()">
                                <div class="form-group cont-graficas">
                                    <p id="error_tipo" class="error">Selecciona una opción de gráfica</p>
                                    <h5><b>Graficar los siguientes datos:</b></h5>
                                    <input name="tipo_grafica" ng-model="tipo" type="radio" ng-value="1"> Tipo educativo <br>
                                    <input name="tipo_grafica" ng-model="tipo" type="radio" ng-value="2"> Sostenimiento educativo <br>
                                    <input name="tipo_grafica" ng-model="tipo" type="radio" ng-value="3"> Tipo y sostenimiento educativo<br>
                                </div>  
                                <div class="form-group">
                                    <p id="error_estado" class="error">Selecciona una ubicación</p>
                                    <h5><b>Selecciona una opción:</b></h5>
                                    <input id="estado" ng-model="estado" ng-value="-1" style="display:none">
                                    <div  class="alert alert-zona" >
                                        <button id="pais" type="button" ng-click="getZona(0)" class="btn-zona btn btn-default btn-full"> Nacional</button>
                                    </div>  
                                    <div  class="alert alert-zona">
                                        <button id="entidad" type="button" ng-click="getStates()" class="btn-zona btn btn-default btn-full"> Entidad</button>
                                        <div id="sub_entidad" style="display:none" >
                                            <label>Selecciona entidad:</label><br>    
                                                                            <select name="lstStates" id="select_entidad" class="form-control" ng-model="user.state"
                                                                                ng-options="state.nombre for state in states track by state.id" ng-change="getZona(user.state.id)">
                                                                                <option label="selecciona una opción" value="">
                                                                                    selecciona
                                                                                    una tipo
                                                                                </option>
                                                                            
                                                                            </select>
                                        </div>

                                    </div>
                                </div>                                   
                                <div class="row">
                                    <div class="col-sm-12" style="margin-left: 0px">
                                        <button type="submit" class="btn btn-block btn-success">
                                            <span>Generar gráfica</span> <i class="fa fa-bar-chart"></i>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <!--div class="row">
                                    <div class="col-sm-12" style="margin-left: 0px">
                                        <button type="reset" class="btn btn-warning btn-buscar" ng-click="newSearch()">
                                            Restablecer
                                        </button>
                                    </div>
                                </div-->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h4 id="descripcion_grafica"></h4>
                    <h4 id="mensaje_estadisticas"></h4>
                    <div class="tabbable" id="tabs-653558">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#panel-189331" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Gráfica</a>
                            </li>
                            <li>
                                <a href="#panel-806421" data-toggle="tab"><i class="fa fa-table"></i> Detalles </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-189331">
                                <div class="row">
                                    <div id="cont_graficas">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="panel-806421">
                                <div id="cont_tablas">
                                    <div class="row">
                                        <div class="col-md-8">
                                             <table id="tabla_tipoEducativo" class="table table-siged table-responsive" ng-show="tipo == 1 ">
                                            <thead>
                                                <tr id="tabla_tipoEducativo1" style="display: none">
                                                <th ><p align="left">Tipo educativo</p></th>
                                                <th ><p align="left">Número de escuelas</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="EstadisticaDTO in datos">
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.tipoEducativo}} </p></td>
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.total}}</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="tabla_sostenimientoEducativo" class="table table-siged table-responsive" ng-show="tipo == 2">
                                            <thead>
                                                <tr id="tabla_sostenimientoEducativo1" style="display: none">
                                                <th ><p align="left">Sostenimiento educativo</p></th>
                                                <th ><p align="left">Número de escuelas</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="EstadisticaDTO in datos">
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.sostenimiento}} </p></td>
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.total}}</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                             <table id="tabla_sostenimientoTipo" class="table table-siged table-responsive" ng-show="tipo == 3">
                                            <thead>
                                                <tr id="tabla_sostenimientoTipo1" style="display: none">
                                                <th ><p align="left">Tipo educativo</p></th>
                                                <th ><p align="left">Escuelas privadas</p></th>
                                                <th ><p align="left">Escuelas públicas</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="EstadisticaDTO in datos">
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.nombre}} </p></td>
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.sostenimientoDTO[0].totalSos}}</p></td>
                                                    <td ><p style="font-size: 14px">{{EstadisticaDTO.sostenimientoDTO[1].totalSos}}</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        </main>
        <!-- /inicial -->
        <!-- CURP no encontrada -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
        <script src="../js/velocity.min.js"></script>
        <script src="../js/angular.js"></script>
        <script src="../js/angular-resource.js"></script>
        <script src="../js/chart-org/chart.js"></script>
        <script src="../js/grafica.js"></script>
        <script src="../js/siged.js"></script>
        <script src="../js/uri.js"></script>
        <script src="../js/estadisticasEscuela.js"></script>
    </body>
      
<!-- 	BARRA ACCESIBILIDAD	-->
	<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
	<script src="https://www.gob.mx/cms/assets/apps-accesibilidad.js"></script>
	<script src="https://framework-gb.cdn.gob.mx/applications/cms/modal_global_cms.js"></script>
	<script src="https://framework-gb.cdn.gob.mx/applications/cms/config_dependency.js"></script>
<!--	END BARRA ACCEBILIDAD	-->
      
	<script> 
     		$(function(){
        		$("#header").load("../header.html");
         		$("#banner").load("../banner.html");  
    		});
   </script>

</html>