@media (min-width: 768px)
.main-banner{
    margin-bottom: 0px;
}

@media (min-width: 768px)
.main-banner {
    min-height: 200px; 	/* 550 */
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../images/BannerSIGED.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-banner {
    position: relative;
    overflow: hidden;
    min-height: 200px;	/* 550 */
    padding-top: 0;
    padding-bottom: 0;
}

.main-banner {
    position: relative;
    overflow: hidden;
    min-height: 250px;
    padding-top: 0;
    padding-bottom: 0;
}

.main-banner {
    min-height: 250px;	/* 550 */
    margin-bottom: 0 !important;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../images/BannerSIGED.gif");
}

@media (min-width: 992px)
.main-banner {
    margin-bottom: 40px;
    background-position: right center;
}

@media (min-width: 992px)
.main-search {
    margin-bottom: 64px;
}

.main-search {
    background-color: black;
    margin-bottom: 40px;
}

@media (min-width: 992px)
.main-search {
    margin-bottom: 40px;
}

.title-calendar{
    text-align : justify;
    font-size: 16px;
}

.letter-calendar{
    text-align : justify;
    font-size: 12px
}

span.color1-calendar{
    background-color:  #e61d67;
    color: #e61d67;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color2-calendar{
    background-color:  #62dad4;
    color: #62dad4;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color3-calendar{
    background-color:  #e61d67;
    color: #e61d67;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color4-calendar{
    background-color:  #e61d67;
    color: #e61d67;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color5-calendar{
    background-color:  #ffec42;
    color: #ffec42;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color6-calendar{
    background-color:  #cd3bd5;
    color: #cd3bd5;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color7-calendar{
    background-color:  #43a49d;
    color: #43a49d;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color8-calendar{
    background-color:  #cd3bd5;
    color: #cd3bd5;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color9-calendar{
    background-color:  #e67440;
    color: #e67440;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color10-calendar{
    background-color:  #5fc454;
    color: #5fc454;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color11-calendar{
    background-color:  #62dad4;
    color: #62dad4;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color12-calendar{
    background-color:  #bf4278;
    color: #bf4278;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color13-calendar{
    background-color:  #da9662;
    color: #da9662;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color17-calendar{
    background-color:  #8fc646;
    color: #8fc646;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color18-calendar{
    background-color:  #f7fb0e;
    color: #f7fb0e;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color19-calendar{
    background-color:  #ddc0c2;
    color: #ddc0c2;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color20-calendar{
    background-color:  #f4ee00;
    color: #f4ee00;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color21-calendar{
    background-color:  #3998da;
    color: #3998da;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color22-calendar{
    background-color:  #fd8964;
    color: #fd8964;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color23-calendar{
    background-color:  #c09c22;
    color: #c09c22;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color24-calendar{
    background-color:  #07a8dc;
    color: #07a8dc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color25-calendar{
    background-color:  #1a1a1a;
    color: #1a1a1a;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color26-calendar{
    background-color:  #f36f7d;
    color: #f36f7d;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color27-calendar{
    background-color:  #00af4f;
    color: #00af4f;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color28-calendar{
    background-color:  #c0231e;
    color: #c0231e;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color29-calendar{
    background-color:  #1a1b0b;
    color: #1a1b0b;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color30-calendar{
    background-color:  #040404;
    color: #040404;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color31-calendar{
    background-color:  #a0a0a0;
    color: #a0a0a0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

span.color32-calendar{
    background-color:  #1a1b0b;
    color: #1a1b0b;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1.2em; 
}

  #calendar {
    max-width: 900px;
    margin: 0 auto;
    font-size: 12px;
  }

  #calendar2 {
    max-width: 900px;
    margin: 0 auto;
    font-size: 12px;
  }

